<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>한국 가정교회사역원</title>

  <!-- og tag-->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="hcmcampus.com/" />
  <meta property="og:description" content="한국 가정교회사역원입니다.." />
  <meta property="og:title" content="한국 가정교회사역원"/>
  <meta property="og:image" content="http://hcmcampus.org/upload/happy_config/info_logo.png"/>
  <!-- og tag-->

</head>
<body>
  {% block header %}
    {% include 'header.html' %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block footer %}
    {% include 'footer.html' %}
  {% endblock %}

  {% block script %}
  {% endblock %}
</body>
</html>