{% extends 'default.html' %}
{% block content %}
<link rel="stylesheet" href="/detail.css">

<script src="/js/common.js"></script>
<script src="/js/detail.js"></script>

<section class="detail">
  <div class="now">홈 > 삶공부</div>
  <div class="container">
    <div class="left">
      <img src="/class_thumb/{{classList.gcl_thumb}}" alt="썸네일" />
    </div>
    <div class="right">
      <div class="info">
        <div class="teacher">{{classList.gcl_tc_name}}</div>
        <div class="title">{{classList.gcl_name}}</div>
        <div class="share" onClick="share_url()">공유하기</div>
        <div class="play">강의 보러가기</div>
      </div>
    </div>
  </div>
</section>

{% endblock %}