.container
{

}

section.banner
{
  height:fit-content;
}
section.banner a img
{
  width:100%;
  height:100%;
}

section.video
{
  background-color:#e7f3f3;
  padding:2% 0;
  text-align: center;
  height:31rem;
}

section.category
{
  max-width:1000px;
  margin:0 auto;
  margin-top:50px;
}
section.category .title
{
  font-size:23px;
  font-weight:600;
  margin-bottom:20px;
}