{% extends 'admin/default.html' %}
{% block content %}
<link rel="stylesheet" href="/admin/common.css" />
<link rel="stylesheet" href="/admin/category_list.css" />

<script src="/js/admin.category.js"></script>

<section class="category-list">
  <div class="title">카테고리 관리</div>
  <div class="btns">
    <div class="write-btn" onClick="move_page('/admin/category/regist')">카테고리 등록</div>
  </div>
  <section class="search-upper">
    <div class="title">이름 검색</div>
    <input type="text" class="input-search" 
      id="search-text" value="{{cateName}}"/>
    <button onClick="category_search('{{seq}}')">검색</button>
  </section>
  <table>
    <tr>
      <td style="width:150px">이름</td>
      <td style="width:150px;">등록일</td>
      <td style="width:150px;">노출여부</td>
      <td style="width:300px;">상세</td>
    </tr>
    {% for cate in category %}
    <tr>
      <td style="width:150px;">{{cate.gcname}}</td>
      <td style="width:150px;">{{cate.regdtConvert}}</td>
      <td style="width:150px;">
        {% if cate.gcshow_yn == 'Y' %}
        노출
        {% else %}
        숨김
        {% endif %}
      </td>
      <td style="width:300px;display:flex;justify-content: center;">
        <div class="modify-btn" onClick="move_page('/admin/category/modify/{{cate.gcseq}}')">
          수정
        </div>
        <div class="delete-btn" onClick="delete_category('{{cate.gcseq}}')">삭제</div>
      </td>
    </tr>
    {% endfor %}
  </table>
  <div class="pages">
    <span onClick="move_previous_page({{seq}} - 1)"><</span>
    {% for i in range(startPage, endPage + 1) %}
    <span onClick="move_page('/admin/category?seq={{i}}&id={{cateName}}')"
     {% if i == seq %} class="active" {% endif %}>{{i}}</span>
    {% endfor %}
    <span onClick="move_next_page({{seq}} + 1, {{max_num}}, {{cateName}})">></span>
  </div>
</section>
{% endblock %}