{% extends 'admin/default.html' %}
{% block content %}
<link rel="stylesheet" href="/admin/common.css" />
<link rel="stylesheet" href="/admin/category_regist.css" />

<script src="/js/admin.category.js"></script>

<section class="category-regist">
  <div class="title">카테고리 수정</div>
  <div class="btn-upper">
    <div class="submit-btn" 
      onClick="move_page('/admin/category/class/{{cate.gcseq}}')">클래스 등록</div>
  </div>
  <form id="category-regist-form" name="regist_form"
  action="/admin/category/modify/{{cate.gcseq}}" method="post">
    <table>
      <tr>
        <td class="title">카테고리 이름</td>
        <td class="content">
          <input type="text" name="name" id="name" 
            class="input-table" value="{{cate.gcname}}" />
        </td>
      </tr>
      <tr>
        <td class="title">노출여부</td>
        <td class="content">
          <input type="radio" name="show_yn" id="show_y" value="Y" 
            {% if cate.gcshow_yn == 'Y' %} checked {% endif %} />
          <label for="show_y">노출</label>
          <input type="radio" name="show_yn" id="show_n" value="N" 
            {% if cate.gcshow_yn == 'N' or cate.gcshow_yn == '' %} checked {% endif %} />
          <label for="show_n">숨김</label>
        </td>
      </tr>
    </table>
    <div class="btns">
      <div class="list-btn" onClick="move_page('/admin/category')">목록</div>
      <div class="submit-btn" onClick="regist_category()">저장</div>
    </div>
  </form>
</section>

{% endblock %}