{% extends 'admin/default.html' %}
{% block content %}
<link rel="stylesheet" href="/admin/common.css" />
<link rel="stylesheet" href="/admin/class_list.css">

<script src="/js/admin.class.js"></script>

<section class="class-list">
  <div class="title">클래스 관리</div>
  <section class="search-upper">
    <span class="title">이름검색</span>
    <input type="text" name="search-word" 
      id="search-word" class="search-input" value="{{className}}" />
    <button onClick="search_class('{{seq}}')">검색</button>
  </section>
  </div>
  <div class="list-btns" style="margin-top:10px;">
    <a href="/admin/class/regist" class="regist-btn">영상 등록</a>
  </div>
  <table>
    <tr>
      <td style="width:100px;">번호</td>
      <td style="width:150px;">썸네일</td>
      <td>이름</td>
      <td style="width:150px;">강사명</td>
      <td style="width:100px;">상세</td>
    </tr>
    {% for class in classes %}
    <tr>
      <td style="width:100px;">{{loop.index}}</td>
      <td style="width:150px;">
        <img src="/class_thumb/{{class.gcl_thumb}}" alt="" class="thumb" />
      </td>
      <td style="width:150px;">{{class.gcl_name}}</td>
      <td style="width:150px;">{{class.gcl_tc_name}}</td>
      <td style="display:flex; justify-content: center; height:100%;">
        <div class="modify-btn"
        onClick="move_page('/admin/class/modify/{{class.gclseq}}')"
        style="margin-right:10px;"
        >수정</div>
        <div class="delete-btn"
        onClick="delete_class('{{class.gclseq}}')">
          삭제
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
  <div class="pages">
    <span onClick="move_previous_page({{seq}} - 1)"><</span>
    {% for i in range(startPage, endPage + 1) %}
    <span onClick="move_page('/admin/class?seq={{i}}&id={{className}}')"
    {% if i == seq %} class="active" {% endif %}>{{i}}</span>
    {% endfor %}
    <span onClick="move_next_page({{seq}} + 1, {{max_num}}, {{className}})">></span>
  </div>
</section>
{% endblock %}