<link rel="stylesheet" href="/admin/header-admin.css" />
<script src="/js/admin.header.js"></script>

<header>
  <ul>
    <li>
      <img src="/logo.png" alt="로고" class="header-logo" onClick="move_page('/admin')">
    </li>
    <li class="Menu">
      <ul>
        <li>
          <h2 onclick="move_page('/admin/user')">회원관리</h2>
          <ul>
            <li onclick="move_page('/admin/user')">회원관리</li>
            <li onclick="move_page('/admin/user/regist')">회원등록</li>
          </ul>
        </li>
        <li>
          <h2>등록관리</h2>
          <ul>
            <li onclick="move_page('/admin/category')">카테고리 관리</li>
            <li onclick="move_page('/admin/class')">클래스 관리</li>
            <li onclick="move_page('/admin/video')">영상 관리</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</header>