{% extends 'admin/default.html' %}
{% block content %}
<link rel="stylesheet" href="/admin/common.css" />
<link rel="stylesheet" href="/admin/user_list.css" />

<script src="/js/admin.user.js"></script>


<section class="user-list">
  <div class="title">회원관리</div>
  <section class="user-search">
      <div class="title">아이디 검색</div>
      <input type="text" class="input-search" id="search-text" />
      <button onClick="user_search()">검색</button>
  </section>
  <table>
    <tr>
      <td style="width:150px;">아이디</td>
      <td style="width:150px;">이름</td>
      <td style="width:150px;">전화번호</td>
      <td style="width:200px;">이메일</td>
      <td style="width:200px;">가입일</td>
      <td style="width:50px;">상세</td>
    </tr>
    {% for user in users %}
    <tr>
      <td style="width:150px;">{{user.guid}}</td>
      <td style="width:150px;">{{user.guname}}</td>
      <td style="width:150px;">{{user.gumobile}}</td>
      <td style="width:200px;">{{user.guemail}}</td>
      <td style="width:200px;">{{user.regdtManu}}</td>
      <td style="width:100px;">
        <div class="edit" onClick="move_page('/admin/user/detail/{{user.guseq}}')">수정</div>
      </td>
    </tr>
    {% endfor %}
  </table>
  <div class="pages">
    <span onClick="move_previous_page({{seq}} - 1, {{userId}})"><</span>
    {% for i in range(startPage, endPage + 1)%}
    <span onclick="move_page('/admin/user?seq={{i}}&id={{userId}}')"
      {% if i == seq %} class="active" {% endif %}>{{i}}</span>
    {% endfor %}
    <span onClick="move_next_page({{seq}} + 1, {{max_num}}, {{userId}})">></span>
  </div>
</section>
{% endblock %}