{% extends 'admin/default.html' %}
{% block content %}
<link rel="stylesheet" href="/admin/common.css" />
<link rel="stylesheet" href="/admin/user_regist.css" />
<script src="/js/admin.user.regist.js"></script>

<section class="user-regist">
  <div class="title">회원등록</div>
  <form id="iform" name="iform" enctype="multitype/form-data">
    <ul>
      <li>파일을 등록하세요.</li>
      <li>
        <input type="file" name="gufile" id="gufile" class="input-file" 
          onchange="regist_file(this)" accept=".csv"/>
      </li>
    </ul>
  </form>
</section>

{% endblock %}