section.category-regist
{
  width:80%;
  margin:0 auto;
  margin-top:20px;
}
section.category-regist .title
{
  font-size:20px;
}
section.category-regist form#category-regist-form 
table tr
{
  display:flex;
  align-items: center;
  margin-top:10px;
}
section.category-regist form#category-regist-form 
table tr:first-child
{
  margin-top:0;
}
section.category-regist form#category-regist-form 
table tr td 
{
  border:0;
}
section.category-regist form#category-regist-form 
table tr td.title
{
  padding-right:10px;
  width:150px;
}

section.category-regist form#category-regist-form 
.btns
{
  display:flex;
  margin-top:20px;
}
section.category-regist form#category-regist-form 
.btns .list-btn
{
  background-color:#dbdbdb;
  color:#222;
  width:50px;
  height:30px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-right:20px;
  font-weight:700;
  border-radius:3px;
  cursor: pointer;
}
section.category-regist form#category-regist-form 
.btns .submit-btn
{
  background-color:#222;
  color:#fff;
  width:50px;
  height:30px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight:700;
  border-radius:3px;
  cursor: pointer;
}
