section
{
  width:80%;
  margin:0 auto;
  margin-top:30px;
}
section > .title
{
  font-size:24px;
  font-weight:700;
}
section table
{
  margin-top:40px;
}
section table tr td
{
  border-bottom:1px solid #dbdbdb;
  border-left:1px solid #dbdbdb;
}
section table tr td.title
{
  
}
section table tr td:first-child
{
  border-left:0;
}

/* 검색 영역 */
.search-div
{
  display:flex;
  justify-content: flex-end;
  align-items: center;
}
.search-div .search-title
{
  font-size:15px;
  font-weight:500;
}
.search-div .search-input
{
  margin:0 10px;
}
.search-div .search-btn
{
  font-size:15px;
  font-weight:700;
  color:#222;
  background-color: #dbdbdb;
  border-radius:3px;
  padding:5px;
  cursor:pointer;
}

/* 리스트 버튼 영역 */
.list-btns
{
  width:100%;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}
.list-btns .regist-btn
{
  background-color:#222;
  color:#fff;
  width:70px;
  height:42.17px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:3px;
  cursor:pointer;
}

/* 등록 버튼 영역 */
.regist-btns
{
  display:flex;
  align-items: center;
}
.regist-btns .btn
{
  width:60px;
  height:36.14px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:3px;
  cursor:pointer;
} 
.regist-btns .list-btn
{
  background-color:#dbdbdb;
  margin-right:5px;
}
.regist-btns .regist-btn
{
  background-color:#222;
  color:#fff;
}
.modify-btn
{
  background-color:#dbdbdb;
  color:#222;
  cursor:pointer;
  border-radius:3px;
  width:60px;
}
.delete-btn
{
  background-color:#dc143c;
  color:#fff;
  border-radius:3px;
  width:60px;
  border:0;
}

a
{
  text-decoration: none;
  color:#222;
}

.btn-upper
{
  margin-top:10px;
  display:flex;
  align-items: center;
}

.submit-btn
{
  background-color:#222;
  padding:10px;
  display:flex;
  align-items: center;
  justify-content: center;
  font-weight:700;
  border-radius:3px;
  cursor:pointer;
  color:#fff;
}

/* 검색 영역 */
section.search
{
  width:100%;
  display:flex;
  align-items: center;
  margin-top:15px;
}
section.search span
{
  
}
section.search input[type="text"]
{
  margin:0 5px;
}
/* 검색 영역 */