ul{list-style: none;}
header
{

}
header ul
{
  display:flex;
}
header ul li img.header-logo
{
  width:200px;
}
header ul li ul li
{
  margin-left:20px;
}
header ul li ul li h2
{
  cursor:pointer;
}

